.itemView {
  .title {
    text-align: center;
    color: #1976d2;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    & > * {
      margin-right: 10px;
    }
  }
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .description {
    margin-bottom: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    & > * {
      margin: 5px;
    }
  }
  .author {
    font-weight: bold;
    cursor: pointer;
  }
}
