.addItem {
  padding: 20px;
  text-align: center;

  .title {
    @media (max-width: 600px) {
      margin-top: 3rem;
    }
  }
}

.formContainer {
  padding: 30px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
