.tableContainer {
  margin: 20px;
  max-width: calc(100% - 40px);

  @media (max-width: 600px) {
    max-width: 100%;
  }

  .MuiTableCell-root {
    padding: 16px;
    &.MuiTableCell-head {
      background-color: #eeeeee;
    }
  }

  .MuiButtonGroup-root {
    display: flex;
    gap: 10px;
  }
}

.title {
  @media (max-width: 600px) {
    margin-top: 4rem !important;
  }
}
