.searchBar {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #323a94;
  border-radius: 4px;
  margin-left: 20px;
  padding: 0 10px;
  max-width: 250px;
  width: 100%;

  .searchIcon {
    color: #e8eaf6;
    margin-right: 10px;
  }

  .inputRoot {
    color: inherit;
    width: 100%;
  }

  .inputInput {
    width: 100%;
    padding: 8px 0;
    color: #e8eaf6;
    &::placeholder {
      color: #c5cae9;
      opacity: 1;
    }
  }

  &:hover,
  &:focus-within {
    background-color: #3949ab;
  }

  .results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    max-height: 300px;
    overflow-y: auto;
    z-index: 5;

    .resultItem {
      padding: 10px;
      padding-left: 20px;
      cursor: pointer;
      color: #333;
      font-weight: 400;
      border-top: 1px solid #e4e4e4;
      &:hover {
        background-color: #eee;
      }
    }
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 16px;
  }
}
