.itemsList {
  margin-top: 2rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    transition: background-color 0.2s ease-in-out !important;
    position: relative;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid #e0e0e0;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }

    .MuiListItemText-root {
      flex-grow: 1;
    }

    .MuiListItemText-primary {
      color: #333;
      font-weight: 500;
      margin-right: 150px; // reserve space for authorDetails
    }

    .MuiListItemText-secondary {
      color: #666;
    }

    .MuiIconButton-root {
      color: #1976d2;
    }

    .authorDetails {
      position: absolute;
      top: -0px;
      left: 6px;
      color: #757575;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 4px 8px;
      border-radius: 4px;
      font-size: 0.8rem;
    }
  }

  .likeDetails {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 106px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 4px 8px;
    border-radius: 4px;

    .likeIcon {
      margin-right: 8px;
    }

    .likeCount {
      font-size: 0.9rem;
      color: #333;
    }
  }
}

.progress {
  display: block;
  margin: 2rem auto;
}


.iconsBox {
  @media (max-width: 600px) {
    gap: 5px !important;
    margin-right: -20px;
    margin-bottom: -70px !important;
  }
}

.likeBtn {
  @media (max-width: 600px) {
    margin-right: -12px !important;
  }
}