.latestItemsContainer {
  padding: 40px 0;

  .itemCard {
    max-width: 345px;
    min-height: 200px;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out, transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .cardContent {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 200px;
      padding-top: 40px;

      .authorSection {
        position: absolute;
        top: 2px;
        left: 16px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 4px 8px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: rgba(255, 255, 255, 1);
          text-decoration: underline;
        }
      }
    }

    &:hover {
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
      transform: translateY(-5px);
    }

    .MuiCardContent-root {
      padding: 16px;
      position: relative;
    }

    .likeSection {
      position: absolute;
      top: 4px;
      right: 12px;
      display: flex;
      align-items: center;

      .MuiIconButton-root {
        padding: 8px;
        margin-right: 8px;
      }

      .MuiTypography-root {
        margin-left: 4px;
      }
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      justify-content: flex-start;
      margin-top: 1rem;

      .tag {
        margin: 2px;
        font-size: 0.75rem;
      }
    }
  }
}

.chip {
  font-size: 0.65rem;
  padding: 4px 0;
  margin: 2px;
  height: auto;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.iconButton {
  color: #ff4081 !important;
}

.caption {
  color: #757575 !important;
}
