.container {
  padding: 2rem;
}

.collectionDetails {
  text-align: center;
  margin-bottom: 2rem;
}

.collectionImage {
  max-width: 60%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem; // Space below the image
}

.collectionText {
  margin-bottom: 1rem; // Space between text elements
}

.addButton {
  background-color: #1976d2; // Use a theme color for the button
  color: white;
  padding: 10px 20px;
  font-size: 0.9rem;
  border-radius: 20px; // More pronounced rounded corners
  margin-bottom: 2rem;
  &:hover {
    background-color: #115293; // Darken on hover for interaction feedback
  }
}

.itemsList {
  padding: 0; // Remove default padding
  margin: 2rem 0; // Space above and below the list
}

.itemEntry {
  display: flex; // Use flexbox for alignment
  align-items: center; // Center-align the items vertically
  justify-content: space-between; // Space out the item and action button
  padding: 1rem 0; // Spacing inside each item entry
  border-bottom: 1px solid #eee; // Separator between items
  transition: background-color 0.3s; // Smooth transition for hover effect

  &:hover {
    background-color: #f9f9f9; // Highlight on hover
  }
}

.progress {
  display: block; // Make the progress indicator a block element
  margin: 2rem auto; // Center it horizontally
}

@media (max-width: 768px) {
  .container {
    padding: 1rem; // Less padding on smaller screens
  }

  .collectionImage {
    margin-top: 2rem; // More space from the top element
  }
}
